<div class="grid fluid" style="overflow:auto;height:96%">
    <div class="row">
        <div class="span12 ">
            <div class="">
                <nav class="horizontal-menu">
                    <ul>
                        <li><a href="#">Tags</a></li>
                        <li><a href="#">Reporters</a></li>
                        <li><a href="#">Dates</a></li>
                    </ul>
                </nav>
                
            </div>
        </div>
        <div class="row">
            <div class="span9 padding20">
                <div class="input-control text">
                    <input type="text" />
                </div>
                <div class="panel">
                    <panel class="panel-content">
                        <div id="AdvanceDateFilters no-padding">

                            <div class="grid fluid padding10">
                                <div class="row">
                                    <div class="span3 ">
                                        <label>Date From</label>
                                        <div class="input-control text">
                                            <input type="text" class="datepicker from" data-bind="datepicker: from" />
                                            <span class="btn-date"></span>
                                        </div>
                                        <label>Date To</label>
                                        <div class="input-control text">
                                            <input type="text" class="datepicker to" data-bind="datepicker:to" />
                                            <span class="btn-date"></span>
                                        </div>
                                    </div>
                                    <div class="span3 ">

                                    </div>
                                    <div class="span3">
                                        <label>Tags</label>
                                        <div class="input-control textarea">
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <label>Users</label>
                                        <div class="input-control textarea">
                                            <textarea></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span11">
                                        <button class="primary" data-bind="click: function(){ set('other') }">Apply</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </panel>
                </div>
                <div class="panel push-down-20">
                    <div class="panel-content">
                        <table class="table">

                            <tbody>
                                <tr>
                                    <td>Patrick</td>
                                    <td>Conference call</td>
                                    <td>12h</td>
                                </tr>
                                <tr>
                                    <td>Patrick</td>
                                    <td>Tested the latest release of the product </td>
                                    <td>12h</td>
                                </tr>
                                <tr>
                                    <td>Patrick</td>
                                    <td>Called the client</td>
                                    <td>12h</td>
                                </tr>
                                <tr>
                                    <td>Patrick</td>
                                    <td>
                                        with rajeevan, installed first cut of amended Change Report on #mondi live site for testing

                                        oversaw rajeevan work on mondi
                                    </td>
                                    <td>12h</td>
                                </tr>
                                <tr>
                                    <td>Patrick</td>
                                    <td>What did I do</td>
                                    <td>12h</td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="panel">
                    <div class="panel-header">
                        Dates
                    </div>
                    <div class="panel-content">

                    </div>
                </div>
                <div class="panel push-down-20">
                    <div class="panel-header">
                        Tags
                    </div>
                    <div class="panel-content">
                        <nav class="vertical-menu compact">
                            <ul>
                                <li><a href="#">Windows</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Surface</a></li>
                                <li><a href="#">Windows Phone</a></li>
                                <li><a href="#">Windows</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Surface</a></li>
                                <li><a href="#">Windows Phone</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="panel push-down-20">
                    <div class="panel-header">Users</div>
                    <div class="panel-content">
                        <nav class="vertical-menu compact">
                            <ul>
                                <li><a href="#">Windows</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Surface</a></li>
                                <li><a href="#">Windows Phone</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
