<nav class="navigation-bar white fixed-bottom">
    <div class="navigation-bar-content ">
        <div class="element">
            Footer
        </div>
        <a class="element place-right" href="/account/signin">
            Sign in
        </a>
    </div>
</nav>
