
<div class="navigation-bar opacity shadow dark ntm ntp"  id="PubNavigationBar">
    <div class="navigation-bar-content container">
        @Html.Partial("_NavBarLogo")
        <span class="element-divider"></span> 
        <a class="element place-right" href="/account/signin">
            Sign in
        </a>
    </div>
</div>


