<div id="Dashboard" class="grid fluid no-margin-top">
    <div class="row">
        <div class="span12">
             
        </div>

    </div>
    <div class="row">
        <div class="span12">
            <div class="button-dropdown push-down-15 block" >
                <button class="dropdown-toggle bg-transparent" style="font-size:22px;font-weight:800" data-bind="text: selectedPeriod"></button>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="#" data-bind="">Weekly Overview</a></li>
                    <li><a href="#" data-bind="">Monthly Overview</a></li>
                    <li><a href="#" data-bind="">Yearly Overview</a></li>

                </ul>
            </div>
            <canvas id="myChart" width="600" height="500" class="push-down-10"></canvas>

        </div>
    </div>
</div>
