
<div class="page-region with-sidebar" style="margin-top: 30px;min-width:1070px">
    <div class="page-region-sidebar no-padding no-margin">
        @Html.Partial("_Sidebar")
    </div>
    <div id="Timeline" class="page-region-content" style="height:100%;"></div>
</div>
@Html.Partial("_Templates")

