@model Dayspent.Web.Models.DailyUpdateViewModel

<div id="Dashboard">
    <div class="" style="">
        <nav class="horizontal-menu" id="DashboardMenu">
            <ul>
                <li data-bind="css: { 'active':selected()=='overview'  }"><a href="#/dashboard/overview">Overview</a></li>
                <li><a href="#">Projects</a></li>
                <li data-bind="css: { 'active':selected()=='tags'  }"><a href="#/dashboard/tags">Time Spent</a></li>
            </ul>
        </nav>
    </div>
   
    <div class="content-area"  >
        @Html.Partial("_overview")
    </div>


</div>
